.app-config {
  user-select: none;
  height: 250px;
  width: 100%;
  position: fixed;
  background-image: url("../Assets/bg.jpg");
  background-size: 40rem 40rem;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed; /* Fija el fondo en su posición */
  font-family: "IM Fell DW Pica";
  overflow-y: hidden;
  margin: 0;
  box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.draggable {
  flex-grow: 1;
  -webkit-app-region: drag;
}

.btnBox {
  display: flex;
  justify-content: end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.8rem;
  z-index: 1;
}

.configHeader button {
  width: 1rem; /* Ancho de 1 rem */
  height: 1rem; /* Alto de 1 rem */
  padding: 0; /* Eliminar cualquier relleno */
  background-color: transparent; /* Establecer el fondo del botón como transparente */
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 0.8rem;
  z-index: 1;
}

.configHeader button img {
  width: 100%; /* Ajustar el tamaño de la imagen al 100% del botón */
  height: auto; /* Permitir que la altura de la imagen se ajuste automáticamente */
  opacity: 0.7;
  
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

.configHeader button:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 1));
}

.app-config h2 {
  margin-bottom: 15px;
}
.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-bottom: 2vh;
  color: rgba(0, 0, 0, 70%);
}
.titleText {
  font-size: 1.5rem;
  opacity: 0.7;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
}
.titleImage {
  width: 6rem;
  height: 100%;
}
.settings-option {
  display: flex;
  margin: 1rem 2rem 0rem 2rem;
  align-items: center;
}

.settings-option label {
  display: block;
  margin-bottom: 0.3rem;
}

.settings-option input[type="checkbox"] {
  margin-right: 5px;
}
.settings-option select{
  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;
    color: white;
    outline: none;

}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}