/* SelectEdit.css */

.basic-single .select__control {
    min-height: 40px;
    height: auto;
    overflow: visible;
  }
  
  .basic-single .select__menu {
    z-index: 9999; /* Alta prioridad */
    max-height: 200px; /* Ajusta según sea necesario */
    overflow-y: auto;
  }
  
  .basic-single .select__value-container {
    padding: 0 8px;
  }
  
  .basic-single .select__single-value {
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .basic-single .select__input {
    margin: 0;
    padding: 0;
  }
  
  .basic-single .select__menu-list {
    padding: 0;
  }
  
  .basic-single .select__option {
    padding: 8px 10px;
  }
  
  .basic-single .select__option--is-focused {
    background-color: #f0f0f0;
  }
  
  .basic-single .select__option--is-selected {
    background-color: #ddd;
  }
  
  .selectDiv {
    position: relative;
    z-index: 1;
  }
  