#taskList {
  height: calc(70vh - 8rem); 
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #795649;
  border-radius: 2px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}



/* TABS */
.tabsCont{
  position: sticky;
  top: 0;
  background-image: url("../Assets/bg.jpg");
  background-size: 40rem 40rem;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

.tabs{
  text-align: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
}
.tabBtns{
  flex-grow: 1;
  text-align: center;
  justify-content: space-around;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  height: 2.5rem;
}
.tabBtn{
 
  border-bottom: 2px solid #795649;
  width: 30%;
  transition: all 0.3s ease;
  
}
.tabs a{
  opacity: 0.7;
}
.tabs button:hover{
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.tabs .tab.active {
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.5)) ;
  border-bottom: 2px solid #795649;
}
/* -------------------------- */
/*        DROPDOWN MENU       */
/* -------------------------- */
.dropdownMenu{
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el color de fondo */
  border-radius: 8px; /* Redondea las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
  
}
.MuiMenu-paper{
  background-color: red;

}
.MuiList-root {
  width: 15rem;
  height: fit-content;
  color: #333; /* Cambia el color del texto */
  background-color: #c0a080;
  border: 1px solid #795649;
  
}
.MuiMenuItem-gutters{
  display: flex;
  flex-direction: column;
}

/* -------------------------- */
/*            QUESTS          */
/* -------------------------- */

.taskNameCont{
  display: flex;
}

.taskNameCont h3 {
  user-select: none;
  opacity: 0;
  font-style: italic;
  transition: all 0.1s ease-in-out;
  color: rgba(12, 141, 0, 0.808);
  text-shadow: 
    0 0 5px rgba(183, 2, 255, 0.2), /* Inner white glow */
    0 0 5px rgba(0, 255, 0, 0.9); /* Green outer glow */
}
.taskNameCont h3:hover {

  user-select: none;
  font-style: italic;
  opacity: 0.8;
  color: rgba(12, 141, 0, 0.808);
  text-shadow: 
    0 0 5px rgba(183, 2, 255, 0.2), /* Inner white glow */
    0 0 5px rgba(0, 255, 0, 0.9); /* Green outer glow */
}
.taskDet1{
  display: flex;
  justify-content: space-between;
}
.taskDet2{
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.imgCenter{
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}
.taskContainer {
  display: flex;
  align-items: center;
  min-height: 2rem;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.taskContainerFinished {
  display: flex;
  align-items: center;
  min-height: 2rem;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.3);
}

.taskContainerFinished .taskName{
  text-decoration:line-through;
}
.taskContent {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  flex-grow: 1;
  cursor:pointer;
}

.taskName {
  max-width: 87%;
  overflow: hidden;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.taskDesc {
  max-width: 90%;
  overflow-wrap: break-word;
  font-family: 'Crimson Pro';
  margin-left: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
}

/* Imagenes */
.taskControls {
  display: flex;
  justify-content: end;
  margin-left: 1rem;
  margin-right: 0px;
  user-select: none;
}

.imgBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.editBtn {
  width: 1.3rem;
  height: 1.3rem;
}

.checkDelete,
.checkFinish,
.checkFinished {
  display: none;
  cursor: pointer;
}

.taskImage {
  background-image: url("../Assets/Quest.png");
}

.taskCheck {
  background-image: url("../Assets/Check.png");
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.checkFinish{
  background-image: url("../Assets/QuestHover.png");
}
.checkFinished{
  background-image: url("../Assets/QuestHover.png");
}
.checkFinished+.taskImage {
  background-image: url("../Assets/QuestHover.png");
}

.checkFinished+.taskImage {
  background-image: url("../Assets/QuestHover.png");
}
.checkDelete:checked+.taskCheck {
  background-image: url("../Assets/CheckedOpa.png");
}

.taskImage,
.taskCheck {
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
  background-position: center center;
}

.checkFinish.checked {
  background-image: url("../Assets/QuestHover.png");
}

.taskCheck.checked {
  background-image: url("../Assets/Checked.png");
}

.taskImgCont,
.taskCheckCont {
  width: 2rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskImgCont:hover {
  cursor: pointer;
}

.taskImgCont:hover .taskImage {
  background-image: url("../Assets/QuestHover.png");
  transform: scale(1.15);
  
}

.taskCheckCont:hover .taskCheck {
  background-image: url("../Assets/Checked.png");
  transform: scale(1.15);
}

.DeleteBtn {
  width: 2rem;
  user-select: none;
  margin: 5px 25px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeleteOn {
  opacity: 70%;
  cursor: pointer;
  width: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.DeleteOff {
  opacity: 30%;
  width: 1.2rem;
  transition: all 0.2s ease-in-out;
}


.divider img{
  width: 100%;
  overflow: hidden;
  opacity: 0.5;
  
}

@media screen and (max-height: 768px){
  #taskList {
    
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}