#taskList {
  max-height: 60vh;
  /* Ajusta según el tamaño deseado del encabezado */
  min-height: 25vh;
  /* Altura mínima deseada */
  overflow-y: auto;
  /* Agrega barra de desplazamiento vertical si es necesario */
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  /* Sombra difuminada */
}

/* Agrega una imagen como fondo de la pista de la barra de desplazamiento */
#taskList::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 5px;
  margin-right: 2px;
}

/* Define la apariencia de la manija de la barra de desplazamiento */
#taskList::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

/* Tarea */

.taskContainer {
  display: flex;
  align-items: center;
  /* Align vertically */
  min-height: 2rem;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);

}

.taskContent {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  flex-grow: 1;
}

.taskName {
  max-width: 100%;
  overflow: hidden;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

.taskDesc {
  max-width: 90%;
  
  overflow-wrap: break-word;
  font-family: 'Crimson Pro';
  opacity: 0.85;
  margin-left: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
}

/* Imagenes */
.taskControls {
  display: flex;
  /* Wrap edit/delete buttons */
  justify-content: end;
  /* Align buttons to the right */
  margin-left: 1rem;
  /* Add some margin from content */
  margin-right: 0px;
}

.imgBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.editBtn {
  width: 1.3rem;
  height: 1.3rem;
  opacity: 0.6;
}

.checkDelete,
.checkFinish {
  display: none;
  cursor: pointer;
}

.taskImage {
  background-image: url("../Assets/Quest.png");
}

.taskCheck {
  background-image: url("../Assets/Check.png");
  opacity: 0.5;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkFinish:checked+.taskImage {
  background-image: url("../Assets/QuestHover.png");
}

.checkDelete:checked+.taskCheck {
  background-image: url("../Assets/Checked.png");
  opacity: 0.7;
}

.taskImage,
.taskCheck {
  width: 1rem;
  /* Ancho deseado */
  height: 1rem;
  /* Altura deseada */
  background-size: contain;
  /* Para ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  background-position: center center;
  /* Centra la imagen horizontal y verticalmente */
}

.checkFinish.checked {
  background-image: url("../Assets/QuestHover.png");
}

.taskCheck.checked {
  background-image: url("../Assets/Checked.png");
  /* Cambiar la imagen cuando está marcado */
}

.taskImgCont,
.taskCheckCont {
  width: 2rem;
  /* Ancho deseado */
  height: 2.5rem;
  /* Altura deseada */
  display: flex;
  /* Utiliza flexbox para centrar la imagen */
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.taskImgCont:hover {
  cursor: pointer;
}

.taskImgCont:hover .taskImage {
  background-image: url("../Assets/QuestHover.png");
  /* Cambiar la imagen en hover */
}

.taskCheckCont:hover .taskCheck {
  background-image: url("../Assets/Checked.png");
  /* Cambiar la imagen en hover */
}

.DeleteBtn {
  width: 2rem;

  margin: 5px 25px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DeleteOn {
  opacity: 70%;
  cursor: pointer;
  width: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.DeleteOff {
  opacity: 30%;
  width: 1.2rem;
  transition: all 0.2s ease-in-out;
}