body {
  background-image: url('./Assets/bg.jpg');
  background-size: 40rem 40rem;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed; 
  font-family: 'IM Fell DW Pica';
  overflow-y: hidden;
  margin: 0;
  z-index: -1;
}
